<!DOCTYPE html>
<html lang="en-US">
  <head>
      <link rel="stylesheet" href="..\static\playground.css">
  </head>
  <body>
    <div class="box">
      <table>
        <tr>
          <th>Name</th>
          <th>Current Value</th>
          <th>Options</th>
        </tr>
        <tr>
          <td>Fermentor</td>
          <td>68&deg;</td>
          <td><a href="/fermentor/increase_temp">Increase</a></td>
        </tr>
        <tr>
          <td>Kitchen Light</td>
          <td>Off</td>
          <td><a href="/kitchen_light/off">Off</a> <a href="/kitchen_light/on">On</a></td>
        </tr>
      </table>
    </div>
  </body>
</html>